  @charset "utf-8";

  table,
  th,
  td {
    border-collapse: collapse;
  }
  
  table {
    border-left: none;
    border-right: none;
  }

  th,
  td {
    font-weight: normal;
    padding: 0.25em 0.5em;
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
  }
  
  th {
    color: rgba(55, 53, 47, 0.6);
  }

  .cell-th {
    border: 1px solid rgba(55, 53, 47, 0.09);
  }
  .cell-title {
    width: 200px;
    border: 1px solid rgba(55, 53, 47, 0.09);
  }
  .cell-tag {
    width: 400px;
    border: 1px solid rgba(55, 53, 47, 0.09);
  }
  .cell-text {
    width: 400px;
    border: 1px solid rgba(55, 53, 47, 0.09);
  }

  .name-th {
    width: 250px;
  }
  .name-td {
    width: 250px;
  }

  .collection-content {
    font-size: 0.875rem;
  }
